<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style3.css">
  <title>generarInforme</title>
</head>
<body>
  <div class="container">
    <div class="factura">
      <h1>Informe de consumo</h1>

      <div class="info-cliente">
        <p><strong>Nombre:</strong> [Nombre del Cliente]</p>
        <p><strong>Fecha:</strong> [Fecha de la Factura]</p>
        <p><strong>Consumo:</strong> [Consumo Total]</p>
      </div>

      <div class="detalle-factura">
        <!-- datos de factura -->
      </div>
    </div>
  </div>
</body>
</html>