<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style1.css">
  <title>Registro de dispositivos</title>
</head>
<body>
  <div class="contenido">
    <h1>Registra tus dispositivos</h1>
    <button class="boton">Aire Acondicionado</button>
    <button class="boton">Aspiradora</button>
    <button class="boton">Cafetera</button>
    <button class="boton">Celular</button>
    <button class="boton">Computadora</button>
    <button class="boton">Consola</button>
    <button class="boton">Ducha</button>
    <button class="boton">Equipo de sonido</button>
    <button class="boton">Foco</button>
    <button class="boton">Impresora</button>
    <button class="boton">Lampara</button>
    <button class="boton">LapTop</button>
    </div>
   </body>
</html>